absl-py
astunparse
autopep8
cachetools
certifi
chardet
cycler
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
Keras-Preprocessing
kiwisolver
Markdown
matplotlib
numpy
oauthlib
opencv-contrib-python
opencv-contrib-python-headless
opt-einsum
Pillow
protobuf
pyasn1
pyasn1-modules
pycodestyle
pyparsing
PyQt5
PyQt5-sip
python-dateutil
requests
requests-oauthlib
rsa
six
tensorboard
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
termcolor
toml
urllib3
Werkzeug
wrapt
